.search-item {
    text-align: start;
    padding: 10px;
}

.search-item:hover {
    background-color: rgba(132, 132, 132, .5);
    cursor: pointer;
}

.search-item span {
    width: 100%;
    margin-left: 15px;
    font-size: 12pt;
}