footer {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: #e5e5e5;
}

footer > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.play-button {
    height: 100%;
}

.thumbnail {
    height: 100%;
    max-width: 20vw;
    min-width: 20vw;
    border: none;
    padding: 1px;
    border-radius: 0;
}

.title {
    display: inline-block;
}

.player-item {
    height: 100%;
    text-align: center;
}

.heading-container {
    text-align: center;
    display: table;
}

.heading-container h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 3vw;
    color: #4f4f4f;
    font-weight: 500;
    line-height: 3vw;
    height: 100%;
}

.play-button {
    margin: 0 auto;
}

.seek, .seek-container {
    position: absolute;
    top: -10px;
    left: 15px;
    width: 100%;
    height: 10px;
}

.seek > div {
    width: 100%;
    margin: 0 !important;
}